/WebApiCarrito.rar
/.vs/Arenales/FileContentIndex/315191ca-c462-455e-915c-8140a28e4878.vsidx
/.vs/Arenales/FileContentIndex/701b1ea5-b606-43f3-a030-8f89f73557ac.vsidx
/.vs/Arenales/FileContentIndex/8faf738d-b088-49da-bddf-aef54eb098ae.vsidx
/.vs/Arenales/FileContentIndex/97d2f643-6e65-47a2-ae11-b1ff06cef3f6.vsidx
/.vs/Arenales/FileContentIndex/9902b202-2f62-4c99-a69a-76e3cfc8e137.vsidx
/.vs/ProjectEvaluation/arenales.metadata.v9.bin
/.vs/ProjectEvaluation/arenales.projects.v9.bin
/Frontend/bin/Debug/net8.0/Frontend.staticwebassets.endpoints.json
/Frontend/obj/Debug/net8.0/Frontend.csproj.Up2Date
/Frontend/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Frontend/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/Frontend/obj/Debug/net8.0/staticwebassets/msbuild.Frontend.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/WebApiCarrito/WebApiCarrito/bin/Debug/net8.0/Api.staticwebassets.endpoints.json
/WebApiCarrito/WebApiCarrito/obj/Debug/net8.0/Api.csproj.Up2Date
/WebApiCarrito/WebApiCarrito/obj/Debug/net8.0/staticwebassets.build.endpoints.json
