USE [BenitoJuarez]
GO
delete from CarritoProducto
dbcc checkident(CarritoProducto,reseed,0)

delete from Carrito
dbcc checkident(carrito,reseed,0)
delete from Producto
dbcc checkident(color,reseed,0)
delete from color
dbcc checkident(color,reseed,0)
delete from Marca
dbcc checkident(Marca,reseed,0)
delete from Talle
dbcc checkident(Talle,reseed,0)
delete from Rubro
dbcc checkident(Rubro,reseed,0)

delete from EstadoCarrito
dbcc checkident(EstadoCarrito,reseed,0)
delete from Usuario
dbcc checkident(Usuario,reseed,0)


SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([Id], [Descripcion], [valor], [ProductoId]) VALUES (1, N'Naranja', N'#F54927', NULL)
INSERT [dbo].[Color] ([Id], [Descripcion], [valor], [ProductoId]) VALUES (2, N'Azul', N'#274DF5', NULL)
INSERT [dbo].[Color] ([Id], [Descripcion], [valor], [ProductoId]) VALUES (3, N'Fucsia', N'#F527C5', NULL)
SET IDENTITY_INSERT [dbo].[Color] OFF

SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([Id], [Descripcion], [LinkImagen]) VALUES (1, N'TOPPER', NULL)
INSERT [dbo].[Marca] ([Id], [Descripcion], [LinkImagen]) VALUES (2, N'AVIA', NULL)
INSERT [dbo].[Marca] ([Id], [Descripcion], [LinkImagen]) VALUES (3, N'LE COQ SPORTIF', NULL)
SET IDENTITY_INSERT [dbo].[Marca] OFF
SET IDENTITY_INSERT [dbo].[Rubro] ON 

INSERT [dbo].[Rubro] ([Id], [Descripcion], [Codigo]) VALUES (1, N'Remeras', N'')
INSERT [dbo].[Rubro] ([Id], [Descripcion], [Codigo]) VALUES (2, N'Zapatillas', N'')
INSERT [dbo].[Rubro] ([Id], [Descripcion], [Codigo]) VALUES (3, N'Buzos', N'')
SET IDENTITY_INSERT [dbo].[Rubro] OFF


SET IDENTITY_INSERT [dbo].[Talle] ON 

INSERT [dbo].[Talle] ([Id], [Descripcion], [Numero], [ProductoId]) VALUES (1, N'8 1/2', NULL, NULL)
INSERT [dbo].[Talle] ([Id], [Descripcion], [Numero], [ProductoId]) VALUES (2, N'122', NULL, NULL)
INSERT [dbo].[Talle] ([Id], [Descripcion], [Numero], [ProductoId]) VALUES (3, N'103', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Talle] OFF



SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [IdMarca], [IdRubro], [IdTalle], [IdColor], [Descripcion], [CodigoBarras], [Precio], [Codigo], [PrecioSinIva], [Costo], [IdImpuesto], [Activo], [Carrito]) VALUES (3, 1, 1, 11, 1, N'MAX BASIC LOW KID', N'2545452834', 10.0000, N'545', 1615.7000, 399.5000, 1, 1, NULL)
INSERT [dbo].[Producto] ([Id], [IdMarca], [IdRubro], [IdTalle], [IdColor], [Descripcion], [CodigoBarras], [Precio], [Codigo], [PrecioSinIva], [Costo], [IdImpuesto], [Activo], [Carrito]) VALUES (5, 1, 2, 1, 1, N'MAX BASIC LOW LITTLE', N'25483333424', 20.0000, N'833', 11495.8700, 324.5000, 1, 1, NULL)
INSERT [dbo].[Producto] ([Id], [IdMarca], [IdRubro], [IdTalle], [IdColor], [Descripcion], [CodigoBarras], [Precio], [Codigo], [PrecioSinIva], [Costo], [IdImpuesto], [Activo], [Carrito]) VALUES (6, 2, 3, 3, 1, N'MAX BASIC LOW LITTLE', N'25483333423', 20.0000, N'833', 11495.8700, 324.5000, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[EstadoCarrito] ON 

INSERT [dbo].[EstadoCarrito] ([Id], [Descripcion], [Codigo]) VALUES (1, N'Abierto', N'1')
INSERT [dbo].[EstadoCarrito] ([Id], [Descripcion], [Codigo]) VALUES (2, N'Cerrado', N'2')
SET IDENTITY_INSERT [dbo].[EstadoCarrito] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [ApeyNom], [User], [Password]) VALUES (1, N'Gutierrez Dick, Emanuel', N'emanuelgdick@gmail.com', N'5c6360ebde6753a61316003587d9c92d9617ad5f52ab4964858a94e2d1da1803')
INSERT [dbo].[Usuario] ([Id], [ApeyNom], [User], [Password]) VALUES (2, N'Gutierrez Castilla, Simon', N'simongutierrez@gmail.com', N'0a5d17d3b19f82f8340d3977609aa9e86b4ad8b9bd71bd9eced9271f1d5b2e4a')
SET IDENTITY_INSERT [dbo].[Usuario] OFF

SET IDENTITY_INSERT [dbo].[Carrito] ON 

INSERT [dbo].[Carrito] ([Id], [Fecha], [IdEstadoCarrito], [IdComprobante], [IdUsuario], [Total], [Numero]) VALUES (1, CAST(0x0000B358012AB9C2 AS DateTime), 1, NULL, 1, CAST(150.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Carrito] OFF
SET IDENTITY_INSERT [dbo].[CarritoProducto] ON 

INSERT [dbo].[CarritoProducto] ([Id], [IdCarrito], [IdProducto], [Cantidad], [Precio]) VALUES (11, 1, 13, CAST(1.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)))
INSERT [dbo].[CarritoProducto] ([Id], [IdCarrito], [IdProducto], [Cantidad], [Precio]) VALUES (14, 1, 3, CAST(2.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[CarritoProducto] ([Id], [IdCarrito], [IdProducto], [Cantidad], [Precio]) VALUES (15, 1, 11, CAST(3.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CarritoProducto] OFF




select * from  talle
select * from  marca
select * from Producto
